<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DVD db</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="/dvds">View All DVDs</a></li>
            <li><a href="/dvds/new">Add New DVD</a></li>
            <li><a href="#" id="search">Search</a></li>
        </ul>
    </nav>

    <section class="search">
      <form data-js-search-form="" action="/search" class="search-container">
        <input type="text" id="search-bar" data-js-search-input="" placeholder="search by, actor, title etc...">
        <button type="submit"> <span class="fontawesome-search"></span></button>
      </form>
    </section>
