<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DVD db</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="/dvds">View All DVDs</a></li>
            <li><a href="/dvds/new">Add New DVD</a></li>
            <li><a href="#">Search</a></li>
        </ul>
    </nav>
    
    <section class="">
        <form data-js-search-form="" class="search" action="." method="get">
            <label class="search-box ">
                <input name="q" type="text" autofocus="" data-js-search-input="" placeholder="Search...">
            </label>
        </form>
        <!--<form action="/search.html">

      <label for="search">
        <input name="search" type="text" placeholder="search by, actor, title etc...">
      </label>
      
      <button type="submit"> <span class="fontawesome-search"></span></button>

    </form>-->
    </section>