<% include partials/header %>

<h1>CollectionDB Landing page</h1>

<p>Welcome to your DB</p>
<ul>
    <li><a href="/dvds">View All DVDs</a></li>
    <li><a href="/dvds/new">Add New DVD</a></li>
</ul>

<% include partials/footer %>